body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5c0000;
    margin: 0;
}

.login-container {
    width: 500px;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(254, 254, 254, 0.974);
    position: relative;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4c0000;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #ff6d6d;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #0000EE;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
    width: 100%;
    padding-right: 30px;
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #888;
}
